:root {
  --primary-color: #242911;
  --secondary-color: #ffffff;
  --font-family: Inter, Arial, sans-serif;
  --font-size-large: 1.5em;
  --font-size-medium: 1em;
  --font-size-small: 0.875em;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: let(--font-size-medium);
  font-family: let(--font-family);
  background-color: let(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:focus {
  outline: 2px solid let(--primary-color);
  outline-offset: 2px;
}

button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1a381b;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #89ce84;
  }
}
